[2015-06-18 14:01] jaulz opened #1 "React.requireNativeComponent undefined"
It seems that React.requireNativeComponent is undefined. Do I need to include other libraries as well? Could you please go into detail which files need to be linked?

[2015-06-18 16:23] armcast commented on #1
I followed this [guide](http://facebook.github.io/react-native/docs/linking-libraries.html) to linking libraries with projects. I linked "RNSearchBar.xcodeproj" found in the node-modules folder of my project directory and linked the "libRNSearchBar.a" library with my main project binary.

After doing this, I still get the same error you are describing -- "undefined is not a function (evaluating 'R

[2015-06-18 17:47] umhan35 commented on #1
That's wird. I'll create a minimum react native project and hopefully get back to you guys soon.

[2015-06-18 19:25] umhan35 commented on #1
I just updated the dependency react-native to its latest stable version 0.5.0. `React.requireNativeComponent` was not available in an earlier version... The change is pushed to npm.

[2015-06-18 20:14] armcast commented on #1
Ah  ok, so my version of react-native is out of date. Excuse my ignorance, but how would I go about updating to version 0.5.0?

Thanks for the response by the way

[2015-06-18 20:31] umhan35 commented on #1
Try this:
[code]

[2015-06-18 20:41] armcast commented on #1
That did the trick. Thank you very much.

[2015-06-18 20:44] umhan35 commented on #1
No problem. :smile:

The things discussed here is also documented in README.md.

[2015-06-18 20:44] #1 closed

[2015-06-25 10:11] PhilippKrone opened #2 "Custom cancel button"
Hello,

it would really be nice to be able to set a custom cancel button text via JS wrapper.

Regards
Philipp

[2015-06-25 23:45] umhan35 commented on #2
What's the use case for that? Personally I never see any app having a custom text for the cancel button.

[2015-06-26 15:17] owais opened #3 "Doesn't work with react-native 0.6"
Trying to import this in react-native 0.6,

[code]
results in the following error,
![screen shot 2015-06-26 at 8 47 02 pm](https://cloud.githubusercontent.com/assets/46186/8380649/9116b092-1c44-11e5-8b9a-0a105f5ff598.png)

[2015-06-26 16:46] owais commented on #3
I was able to solve this by removing react-native from react-native-search-bar node_modules. Like this,

[code]

The thing was crashing because react-native-saerch-bar had installed an older version of react-native inside it's node_modules even though another version was already present in the root node_modules.

Quite a few libraries do this. I think it makes sense to not mention react-native as

[2015-06-26 18:55] umhan35 commented on #3
Ah, I just pushed react-native-search-bar 0.0.7 to npm. After deleting `node_modules/react-native` and `node_modules/react-native-search-bar`, running

[code]

finally makes npm not download react-native inside `node_modules/react-native-search-bar`.

See this commit: 202f0016429360b01bd98d60b3c5f7db6b87e2ac.

I'm pretty sure the problem is solved not. Let me know if not :)

[2015-06-27 03:27] cyprusglobe opened #4 "How to Implement Hidden/Reveal Searchbar"
@umhan35
Wondering how we can go about adding pulldown searchbar?

![Pull Down Search](http://media.idownloadblog.com/wp-content/uploads/2014/03/iOS-7-Music-Searching.gif)

[2015-06-28 04:21] umhan35 commented on #4
I don't know exactly. It's probably better handled by Objective-C or Swift code. For pure JS, check out the [ScrollView](http://facebook.github.io/react-native/docs/scrollview.html)'s onScroll and the [animation guide](http://facebook.github.io/react-native/docs/animations.html#content) on React Native's website.

StackOverflow is a better place to ask this kind of question. Search "pull search ba

[2015-06-28 04:21] #4 closed

[2015-06-28 04:22] #3 closed

[2015-07-08 10:05] PhilippKrone opened #5 "Blur away keyboard"
Hello,

I'm using the search bar to filter a listview on change of the search bar text. Is there currently any way implemented to hide the keyboard the moment I press something in the listview - like a blur() function?

Thanks
Philipp

[2015-07-08 10:21] PhilippKrone commented on #5
Sorry, forgot to write my current solution:

var RCTUIManager = require('NativeModules').UIManager;
  blur: function() {
    RCTUIManager.blur(React.findNodeHandle(this.refs.searchbar));
  },

[2015-07-09 02:11] umhan35 commented on #5
Hi @PhilippKrone Check out the `keyboardDismissMode` of `ScrollView `: http://facebook.github.io/react-native/docs/scrollview.html#keyboarddismissmode. It should theretically work for `ListView` too because it's implemented on top of `ScrollView`.

[2015-07-09 15:35] umhan35 commented on #2
Closed as there are 2 weeks without response. Feel free to reopen it.

[2015-07-09 15:35] #2 closed

[2015-07-11 02:51] coderdave opened #6 "Can't remove top border"
I'm trying to imitate the behavior where you click the Search Bar and it moves to the top of the screen, which is working for me so far, but how do you remove the top border?
![ios_simulator_-_iphone_5s_-_iphone_5s___ios_8_4__12h141_](https://cloud.githubusercontent.com/assets/964751/8632016/3349a704-2756-11e5-8a97-271b432eba82.png)

[2015-07-17 16:29] umhan35 commented on #6
Could you show me the code for the functionality?

[2015-07-17 16:30] umhan35 commented on #5
Closed as there is more than 1 week without response. Feel free to reopen it.

[2015-07-17 16:30] #5 closed

[2015-07-17 18:40] coderdave commented on #6
I'm using a Header component where if the search bar is focused, it hides the navigation bar. Here's the main render function:
[code]

[2015-07-23 09:43] piyushchauhan2011 opened #9 "How can I style the search bar ?"
Can you provide me with an example of styling the search bar because when try to use `style={{ backroundColor: '#FAFAFA' }}` then, search bar disappears.

[2015-07-23 16:41] pgmemk opened #10 "could you please add support for showsCancelButton."
Thank you for the **SearchBar** :).
Could you please add **showsCancelButton** support to be able to hide it

[2015-07-24 01:19] piyushchauhan2011 commented on #6
@coderdave I noticed that you used `style` props in `<SearchBar />`, does it work ? styling the search bar ?

[2015-07-24 13:16] coderdave commented on #6
I've tried borderTopStyle: 'none' but no effect.

[2015-07-27 21:35] owzzz opened #11 "Cannot read property "componentHeight" of undefined"
Getting an error when including a basic example of the search bar in my project.

It's not finding "NativeModules.RNSearchBarManager.ComponentHeight".

Line 40: SearchBar.js

[code]

[2015-07-28 01:34] piyushchauhan2011 opened #12 "Error when archiving and also when building as a release scheme."
I'm getting this error when building it as a release build. `Product` -> `Scheme` -> `Edit Scheme` and mark as `release` build.

You can also use `Product` -> `Archive` and it will not build a package and give the error.

![screen shot 2015-07-28 at 11 31 21 am](https://cloud.githubusercontent.com/assets/693487/8921665/5304d874-351c-11e5-9fe1-d7a98b42217f.png)

[2015-07-28 01:50] umhan35 commented on #11
Do you have the latest version of `react-native-search-bar`?

What's your version of rn (react-native)?

[2015-07-28 15:01] umhan35 commented on #11
There is a breaking API change in rn 0.8. I just pushed a new version to npm, which should solve the problem.

[2015-07-28 15:01] #11 closed

[2015-07-28 15:05] umhan35 commented on #10
It's supported. Take a look here: https://github.com/umhan35/react-native-search-bar/blob/a2fdd8946e55bfe8dc8ea3cb310c3ef12fdcec61/SearchBar.coffee#L15

[2015-07-28 15:05] #10 closed

[2015-07-28 15:48] umhan35 commented on #12
That file is inside the `React` library. Did you link it to your project?

<img width="259" alt="screen shot 2015-07-28 at 10 46 43 am" src="https://cloud.githubusercontent.com/assets/3271612/8936105/009bcb34-3516-11e5-9693-3d10e274efdc.png">

[2015-07-29 00:29] piyushchauhan2011 commented on #12
Still getting the same error after building the release.

[2015-07-29 00:41] umhan35 commented on #12
Sorry, I also tried the `release` scheme in the [SearchBarExample](https://github.com/umhan35/react-native-search-bar/tree/master/SearchBarExample) project and it has the same issue. I couldn't figure out why...

But you can try to open an issue at react-native(https://github.com/facebook/react-native/issues).

[2015-07-29 01:39] piyushchauhan2011 commented on #12
:+1: I will post it.

[2015-07-31 00:41] umhan35 commented on #12
Solve in PR #14

[2015-07-31 00:41] #12 closed

[2015-08-03 16:45] jsierles opened #15 "breaks on 0.9.0 due to EventDispatcher: sendTextEventWithType method"
sendTextEventWithType now requires a fourth parameter: nativeEventCount.

See

https://github.com/facebook/react-native/commit/961c1eb42904a4d5516fd7939ba14bc0625309d3

[2015-08-05 05:15] umhan35 commented on #15
Ah... breaking change again...

It seems you know the solution. Would you mind sending a pull request?

[2015-08-05 09:08] jsierles commented on #15
I see a fourth parameter is required, but it's not clear to me yet what nativeEventCount means or how to generate the right value. I'll look into it when I have some time.

[2015-08-05 16:36] umhan35 commented on #15
How did you install the 0.9.0-rc through npm? It doesn't seem published on npm...

[2015-08-05 18:43] jsierles commented on #15
this works for me: npm install --save react-native@0.9.0-rc

El mié., 5 ago. 2015 a las 18:37, Zhao Han (<notifications@github.com>)
escribió:

[2015-08-15 20:48] coderdave commented on #15
Any solutions or workarounds for this? My build is also failing on 0.9.0 and getting these errors.

[2015-08-18 22:54] jonathancochran commented on #15
Having the same issue as @coderdave

[2015-08-20 03:19] alejomendoza commented on #15
Same issue here, breaking my app. I would try to help but I'm very recent to Objective-C.

![issue](https://cloud.githubusercontent.com/assets/5351127/9374900/4759d7f8-46c0-11e5-9c16-cf75d645b950.png)

[2015-08-20 04:37] umhan35 commented on #15
I'll see if I can solve it tomorrow. The bad news is that I'm using OS X El Capitan now and Xcode became unusable...

[2015-08-21 09:37] chengs commented on #15
I make a little change to let it work.

[2015-08-21 21:24] chengs commented on #6
An alternative solution is set hideBackground=true and put the search bar into a view component. Then you can set the properties of that view.

[2015-08-22 16:23] umhan35 commented on #15
Thanks to @chengs , a working version with 0.9 is pushed to `npm` just now.

[2015-08-22 16:23] #15 closed

[2015-09-07 04:06] coderdave opened #20 "onCancelButtonPress not working in 2.0.0"
The `onCancelButtonPress` property callback isn't working anymore for me with 2.0.0.

is there something I need to do to upgrade?

[2015-09-07 14:22] coderdave commented on #20
Ok, I see the PR to fix this: https://github.com/umhan35/react-native-search-bar/pull/19

[2015-09-10 22:10] jhabdas commented on #20
@umhan35 would you be able to close this and merge #19 assuming it's good to go?

[2015-09-12 16:41] umhan35 commented on #20
@jhabdas Thanks for @ me. I'll try to merge it today.

[2015-09-12 18:33] jhabdas commented on #20
Np. Tried fix locally with success.
On Sat, Sep 12, 2015 at 11:41 AM Zhao Han <notifications@github.com> wrote:

[2015-09-12 19:10] umhan35 commented on #20
Just pushed 2.0.1 to npm. :)

[2015-09-12 19:10] #20 closed

[2015-09-13 00:42] jhabdas commented on #20
You da man!
On Sat, Sep 12, 2015 at 2:10 PM Zhao Han <notifications@github.com> wrote:

[2015-09-13 13:42] jhabdas commented on #20
Tested `2.1.0` package and it's working well. Thanks again!

[2015-09-18 08:32] zedman commented on #9
So it seems like you cant. I did it by modifying the source myself.
You need 'barTintColor' which you can define just as 'tintColor' has been defined in 3 files:
https://github.com/umhan35/react-native-search-bar/search?utf8=%E2%9C%93&q=tintColor&type=Code

[2015-09-20 16:48] sercanov opened #22 "onPress event is not firing"
I put a log on _onPress function in SearchBar.js but even this line is not firing

[2015-09-21 14:36] nautical commented on #22
_onChange event gets fired but _onPress is not getting fired .

[2015-09-21 14:51] nautical commented on #22
My mistake , recompiling the module worked for me .

[2015-09-24 09:19] NixusCN opened #23 "How to change the word 'Cancel' that hide in the right ?"
![image](https://cloud.githubusercontent.com/assets/4592706/10069653/28a0f6ca-62e0-11e5-8c43-2b3b22e2314e.png)
I want to change the word `Cancel` to `取消`,how can I to do ?
Thanks very much.

[2015-09-24 12:28] NixusCN commented on #23
When I click the search bar, the content moves slowly in the input.
How can I change the move speed ?

[2015-09-24 15:05] umhan35 commented on #23
You need to change objective-c code to change the Cancel button text: http://stackoverflow.com/questions/28990854/change-uisearchbar-cancel-button-text-in-ios-8. Check out recent pull requests to see how to do this. I assume if you change the language of iOS, the text of cancel button will become the native language of Cancel.

[2015-09-24 15:07] umhan35 commented on #23
How can I change the move speed ?

It's not slow for me. it's probably slow in the simulator but not on real devices.

[2015-09-24 15:07] umhan35 commented on #22
@nautical so `onPress` is working for you?

[2015-09-25 15:36] nautical commented on #22
@umhan35  Yes It is , what is the error you are getting ?

[2015-09-26 18:30] Mokto commented on #6
Thx @chengs works perfectly !

[2015-09-26 18:31] Mokto opened #24 "Programmatically focus search bar"
Hi,

Is there any way to programmatically focus the search bar ?

I want to automatically focus it when it appears.

Thanks.

[2015-09-27 16:15] nautical commented on #24
@Mokto  Got any solution ? :+1:

[2015-09-27 16:23] Mokto commented on #24
@nautical

I am a web developper, and never created objective-c code, , so no ^^

I will ask this to my iOS developer next week, I will keep you in touch.

[2015-09-27 22:27] nautical commented on #24
I have not looked into the binding of Obj-C and react native framework , will look over that in weekend and submit a request , but for now , in case you want it as default you can do something like
          [self becomeFirstResponder];
in RNSearchBar.m (initWithEventDispatcher function before return) . It will focus on search and activate it whenever you call search , if thats your required deman

[2015-09-27 22:45] Mokto commented on #24
Oh well...

Just did it :dancer:

[2015-09-27 22:50] Mokto commented on #24
Thank you for the tip anyway :)

[2015-09-27 22:51] nautical commented on #24
Ok :+1:

[2015-09-27 23:07] Mokto opened #26 "showsCancelButton not working with false value"
Hi,

I don't know if this is a bug or if this is normal.

showsCancelButton={false} has a wrong behavious. In my opinion :
* __no attribute__ : should show cancel only on focus => OK
* __showsCancelButton={true}__ : should show the cancel button even if not focus => OK
* __showsCancelButton={false}__ : should never show the cancel button => NOT OK.

What do you think ?

[2015-09-28 07:27] NixusCN commented on #23
@umhan35 Thanks very much

[2015-09-28 07:27] #23 closed

[2015-09-30 14:17] eyaleizenberg commented on #6
@chengs Thanks!

[2015-09-30 14:20] eyaleizenberg opened #27 "How to change the 'cancel' color and fonts?"
Hi,
First of all, very cool component!
Second, can I use a different font throughout the component?

Thanks!

[2015-10-03 23:01] vmagro commented on #26
I filed a PR to fix this here https://github.com/umhan35/react-native-search-bar/pull/30

[2015-10-05 13:51] JeanLebrument opened #31 "How to change the placeholder/loop color and the text color"
Hello,

Thanks for the work made to this package! I wonder how can I change the placeholder/loop color and the text color.

Thanks!
Jean

[2015-10-08 04:30] JedWatson opened #32 "Programmatically blur search bar"
Similar to #24, it would be valuable to be able to `.blur()` the search bar to hide the keyboard, as you can with the React Native `TextInput` component.

[2015-10-08 04:32] JedWatson commented on #24
@Mokto @nautical is there a similar method that can be used to implement `blur` as well? (for #32)

[2015-10-08 04:33] JedWatson commented on #24
EDIT - sorry @Mokto just saw your PR #28. Thanks, hope these get merged soon :)

[2015-10-08 04:33] JedWatson commented on #32
Just realised there's already a PR for this! #28

[2015-10-08 12:18] Mokto commented on #24
:)

[2015-10-08 12:18] Mokto commented on #24
It's been 11 days since the first PR has been uploaded. I hope that too :P

[2015-10-09 09:27] JeanLebrument opened #33 "Problem to position UISearchBar"
Hello,

I have some troubles when I want to integrate this package to my project. For some reasons, I have to specify `marginTop` and `height` properties searchBar's style otherwise the bar doesn't show up.

<img width="282" alt="screen shot 2015-10-09 at 11 24 55" src="https://cloud.githubusercontent.com/assets/3106676/10390361/6a62b708-6e78-11e5-8789-6ac1203044c2.png">

The problem is the `margi

[2015-10-09 16:57] jhabdas commented on #32
See also https://github.com/umhan35/react-native-search-bar/issues/5

[2015-10-09 17:38] jhabdas commented on #32
Is it necessary, or even desirable, to control user intent within the context of the `SearchBar` component? Seems risky given there may be a number of different use cases, though it might be a nice option to have if controllable by prop. Looks like the current way people are handling `TextInput` blur is to wrap the input with a `ScrollView` [as described](http://stackoverflow.com/a/31504085/712334

[2015-10-10 14:35] JedWatson commented on #32
Thanks for pointing that out @jhabdas. I'll see if I can get the `RCTUIManager.blur(React.findNodeHandle(this.refs.searchbar))` solution to work until #28 is merged.

@umhan35 regarding whether this is actually useful functionality, I'm implementing a "search on submit" pattern (not search as you type) so I want to be able to blur the field (and hide the keyboard) in my handler for the `onSearchBu

[2015-10-10 15:44] jhabdas commented on #32
@JedWatson even with #28 it's not clear - to me at least - how to utilize the blur method to programmaticly blur the component. But your snippet grabbing the field by ref looks promising. If it works I'll add another example to this repo showing how to use it with a ListView with basic filtering behavior for others.

[2015-10-15 18:10] adaojunior commented on #26
+1 same issue here

[2015-10-22 16:25] jhabdas commented on #32
@JedWatson Thanks. Based on your response I was able to use your fork to successfully blur the `SearchBar` on list item select from an associated search results list. It was easier than expected. For those looking to do the same here're some high-level instructions to make it happen:

- Until #28 #29 are merged and a new NPM module released, update `package.json` to go after the fork `inProgress-t

[2015-10-22 18:56] umhan35 commented on #26
Closed as #30 is merged.

[2015-10-22 18:56] #26 closed

[2015-10-23 16:23] jhabdas commented on #32
Took the `2.5.0` update and the `blur` method introduced by @Mokto in #28 looks to satisfy this issue. @JedWatson there's also an `onBlur` callback in the latest release on NPM. Can this be closed?

[2015-10-31 01:41] sdemjanenko opened #34 "showsCancelButton doesn't work after clicking "cancel""
When I focus into the Search box and then hit cancel and then focus back into the search box the cancel button is no longer on the screen.

[2015-11-02 14:14] coderdave opened #35 "Error; undefined is not an object (evaluating \'NativeModules.RNSearchBarManager.ComponentHeight\')"
I'm getting this error using react native 0.13.2 and react-native-search-bar 2.5.0

Specifically breaks on this line:
https://github.com/umhan35/react-native-search-bar/blob/master/SearchBar.js#L48

[2015-11-03 13:38] coderdave commented on #35
Never mind. I needed to init a whole new project to fix this. :-1:

[2015-11-03 13:38] #35 closed

[2015-11-04 12:09] mastermoo commented on #34
i solved it with setting state like this:
<SearchBar
            onCancelButtonPress={() => this.setState({showsCancelButton: false})}
            onFocus={() => this.setState({showsCancelButton: true})}
            showsCancelButton={this.state.showsCancelButton}
          />

hope this helps

[2015-11-04 17:23] sdemjanenko commented on #34
Thanks for the workaround. It doesn't seem like I should have to jump through all those hoops to accomplish this.  I think this behavior should be fixed within this library.

[2015-11-06 07:09] gwyneplaine opened #37 "React-Native v0.14.0: undefined is not an object (evaluating 'NativeModules.RNSearchBarManager.ComponentHeight')"
This error occurs after upgrading from react-native v0.11 to react-native v0.14
A brief description of my environment:

OS: OSX Yosemite v 10.10.4
XCode: v7.0.1 (7A1001)
Node: v4.1.2

[2015-11-06 20:48] arilitan commented on #24
please merge this commit @umhan35 thanks!

[2015-11-08 21:40] chapinkapa commented on #37
+1

[2015-11-09 07:00] ibrens commented on #37
+1

[2015-11-10 09:41] hearAllParties opened #38 "how to change 'cancel' language"
translate button 'cancel'  to other language

[2015-11-10 10:01] LaiYao commented on #37
+1

I get such error also.

[2015-11-15 02:29] kanerogers opened #39 "Issue with react-native-0.15.0"
Hi, there,

As of 0.15.0, the signature of `RCTEventDispatcher sendTextEventWithType` has changed. See [this commit](https://github.com/facebook/react-native/commit/6c7c845145e1da44ac5d965d49097eff1c11cc49#diff-1bbcacec5f18234fa10073eb3a8b8ce9R147).

As a workaround, I have modified `RNSearchBar.m` to pass a `key` of `nil`, as you aren't listening for the `onKeyPress` event, and this has got thing

[2015-11-16 18:11] cancan101 commented on #34
:+1:

[2015-11-16 23:47] ruandao commented on #37
Do you forget this: http://facebook.github.io/react-native/docs/linking-libraries-ios.html

[2015-11-17 14:49] eyaleizenberg opened #40 "how to set caret color?"
Right now it's white, I need to change it to a different color. Throughout my app it's blue...

[2015-11-17 16:32] eyaleizenberg commented on #40
my bad... passed the wrong parameter

[2015-11-17 16:40] eyaleizenberg commented on #34
The workaround doesn't work well because the cancel is supposed to animate from the side

[2015-11-17 16:42] eyaleizenberg commented on #40
OK, my issue like this:
1. I want to set the tintColor to a certain color and I used the tintColor prop for it.
2. When I use the tintColor prop, the cancel button's tint also changes...

help?

[2015-11-17 16:45] eyaleizenberg commented on #32
using 2.5.0 I still can't figure out how to blur after pressing the 'search' button...

[2015-11-17 17:09] jhabdas commented on #32
@eyaleizenberg how's this?

[code]

[2015-12-01 02:37] jossmac opened #44 "Is there a maxWidth set on the search bar?"
I'm building a landscape iPad app and am using the searchbar at full width, it appears to max-out at `1000px`

[2015-12-01 16:57] cancan101 commented on #39
Would you mind putting up a PR for this?

[2015-12-01 23:30] kanerogers commented on #39
Sure. Leave it with me.
On Wed, 2 Dec 2015 at 3:57 AM, Alex Rothberg <notifications@github.com>
wrote:

[2015-12-01 23:38] cancan101 commented on #39
I PRed #45.

[2015-12-02 01:25] kanerogers commented on #39
Thanks. :-)
On Wed, 2 Dec 2015 at 10:38 AM, Alex Rothberg <notifications@github.com>
wrote:

[2015-12-05 04:13] #39 closed

[2015-12-05 22:08] ibrens opened #47 "React-Native 0.16.0: 'RCTSparseArray.h' file not found"
According to some highlights of the release here:
http://www.reactnative.com/react-native-v0-16-0-rc-and-v0-15-0-released/

RCTSparseArray was replaced by NSDictionary.

Will you upgrade?

[2015-12-07 06:56] ivesy85 commented on #47
I too am encountering this issue. Is there a quick fix I can implement?

[2015-12-07 18:54] JonnyBGod commented on #47
+1

[2015-12-09 10:23] DickyT commented on #47
Editing the `RNSearchBarManager.m` file, and change the `RCTSparseArray` in last 2 method into `NSDictionary`, then delete the `#import "RCTSparseArray.h"` could solve this problem.

But I encountered into another problem, which said that `undefined is not an object, evaluating NativeModules.RNSearchBarManager.ComponentHeight`

[2015-12-09 10:30] DickyT commented on #37
Instead of linking libraries into XCode, just drag files (2 * `*.m` and 2 * `*.h` files) into your project can solve this

[2015-12-11 16:47] tigershen23 commented on #47
Same issue :(

[2015-12-12 07:38] DickyT commented on #47
@tigershen23 see my solution, it works like a charm

[2015-12-17 09:16] yuyaohshimo commented on #47
+1

[2015-12-20 00:38] umhan35 commented on #47
Fixed in #49 & Pushed to npm :)

[2015-12-20 00:38] #47 closed

[2015-12-23 19:43] jamesfzhang opened #50 "Dismiss keyboard when user taps on another component"
Is there a way to either automatically or pragmatically dismiss the keyboard when tapping on another component?

[2015-12-23 21:55] umhan35 commented on #50
Check out http://facebook.github.io/react-native/docs/scrollview.html#keyboarddismissmode.

You can do it on both ScrollView and ListView.

[2015-12-23 21:55] #50 closed

[2015-12-25 03:38] swain commented on #32
How can SearchBar resignFirstResponder automatically when touch outside, just like TextInput do?

[2015-12-25 21:57] umhan35 commented on #44
Yes, see here https://github.com/umhan35/react-native-search-bar/blob/master/RNSearchBar.m#L18

Probably you can find a workaround solution there.

[2015-12-27 04:30] jossmac commented on #44
Okay, thanks for the that.

Is there any reason you settled on 1000, why not 1024?

[2015-12-27 20:00] umhan35 commented on #44
Because I was only developing a portrait iPhone app. I think we can programmingly get the width of the device, something like this: http://stackoverflow.com/a/3655117/390014. I don't have an iPad or a bigger device to test on. But you are welcome to try and contribute :)

[2015-12-29 14:51] tomauty opened #51 "Build Failing with RN 0.15"
Receiving this error:

[code]

Maybe I should be using this PR?
https://github.com/umhan35/react-native-search-bar/pull/43

[2015-12-29 14:54] tomauty commented on #51
Actually, nevermind. I'll use an older version until I can use RN 0.16. Sorry. Just figured out what it was.

[2015-12-29 14:54] #51 closed

[2016-01-11 15:36] tomauty opened #53 "Remove 'react-native' dependency"
Causes naming conflicts with packager, no longer needed in new versions of RN.

[2016-01-12 02:51] Emilios1995 opened #54 "Clear text button not working with large widths"
I don't know why, but when I set the width larger than 100px, the clear button (the one with the 'x' icon) doesn't work. This is very frustrating.
The search bar is inside a navigator component.
Any ideas?

[2016-01-12 04:20] #54 closed

[2016-01-12 04:21] Emilios1995 commented on #54
Sorry, it was because there was another element getting in the way

[2016-01-17 18:20] umhan35 commented on #53
Solved in #55

[2016-01-17 18:20] #53 closed

[2016-01-17 23:50] tomauty commented on #53
Thanks!

[2016-01-22 03:04] fakefish opened #57 "Cannot read property 'ComponentHeight' of undefined"
rn version: 0.17

search-bar version: 2.8

with basic usage.

// 原来是中国人哈

[2016-01-22 10:19] adamsythe opened #58 "Element type is invalid"
I am trying to use the component search-bar https://github.com/umhan35/react-native-search-bar

I have followed the instructions and installed it correctly what I am confused about is how to use it as everything I am trying is throwing errors.

To test it I am using it on a program called testingReact which is just the starting react program.

I added the searchBar so the imports look like this.

[2016-01-23 09:16] adamsythe commented on #58
Sorry worked out the problem I was just installing incorrectly

[2016-01-25 12:29] mauron85 opened #59 "Hide keyboard on search and cancel."
Hi,

i'm struggling with keyboard that is not hidden when search is tapped on keyboard and also when cancel button (X) is tapped withing search bar.

I've googled out how to hide keyboard on search, by adding
```[searchBar resignFirstResponder];``` into searchBarSearchButtonClicked method,

but adding same line to searchBarCancelButtonClicked doesn't hide the keyboard.

[2016-01-27 02:04] cajoy commented on #59
+1

[2016-01-27 02:10] cajoy commented on #59
You can do it by adding ref. Check the following example.

[code]

[2016-01-28 09:31] #57 closed

[2016-01-28 22:08] ahmed1490 opened #60 "Does it work with android?"
If so, then its good to mention.
If not, still worth mentioning in the Readme.md

[2016-01-29 01:15] umhan35 commented on #60
It's mentioned in the first line of README: "The high-quality iOS native search bar for react native."

[2016-01-29 01:15] #60 closed

[2016-01-29 17:58] ahmed1490 commented on #60
The confusing part is...
1. It could mean its only ios native search bar available for ios
OR
2. The project provides ios like search bar for react native in general

[2016-01-29 19:31] umhan35 commented on #60
It doesn't have the second meaning.

[2016-02-01 10:03] fakefish commented on #38
+1

[2016-02-23 07:39] Snaddu commented on #9
I did solve this same problem by adding customStyles prop to search bar.

So on search bar render function i added new prop on style attribute. On customStyles prop i have {backgroundColor: '#ffffff'}. What do you think about this solution? I think this gives quite much more freedom on developing.

`<RNSearchBar
      style={[{height: NativeModules.RNSearchBarManager.ComponentHeight}, this.props.c

[2016-03-03 09:28] #22 closed

[2016-03-03 12:22] oureta opened #63 "Is it possible to set keyboardAppearance to "dark"?"
Hi, is it possible to support keyboardAppearance? Same with how it works with TextInput

[2016-03-06 04:10] Ouadie opened #64 "Searchbar not showing inside a Drawer"
I've installed the search bar with no error using:
`npm install react-native-search-bar@latest --save`
`rnpm link`

And when I use the `SearchBar` inside a `Drawer` like this:

[code]
There is only a space above the `ListView`and no `SearchBar`, but when I move the `SearchBar` out of the `Drawer` it works.

[2016-03-07 06:02] Jeiwan opened #65 "Programmatically clear the input?"
Is it possible to programmatically clear the search bar input field? Something similar to `setNativeProps({text: ''})` for `TextInput` component?

[2016-03-08 15:12] #64 closed

[2016-03-18 17:51] ds1239 commented on #37
@DickyT Thanks, that worked for me.

[2016-03-29 04:25] CoericK commented on #57
@fakefish Any solution?

[2016-03-29 18:44] zackhall commented on #35
@coderdave I'm also seeing the error. Do you mean you had to create a whole new project to be able to add in this SearchBar without the error?

[2016-03-29 18:48] zackhall commented on #37
@DickyT Thanks! Fixed the issue for me!

`npm install rnpm -g`
`rnpm link`

[2016-03-29 18:49] zackhall commented on #35
Solution from #37.

`npm install rnpm -g`
`rnpm link`

[2016-03-29 18:49] coderdave commented on #35
@zackhall I use to have to start a new project, but nowadays I just delete the `node_modules` directory, `npm cache clear` and `npm install`. Also, running `react-native upgrade` has been helpful to when going to a new version of react native.

[2016-04-07 14:51] rohitgoyal commented on #32
Any solution to it yet?

[2016-04-07 20:45] jhabdas commented on #32
@rohitgoyal try my solution above, let us know how it goes

[2016-04-08 08:46] rohitgoyal commented on #32
@jhabdas Got it resolved with simple
this.refs.searchbar.blur();
Thanks anyways. :)

[2016-04-08 16:28] umhan35 commented on #32
Yeah, I guess I merged someone's pr and you can just use `this.refs.searchbar.blur();` now.

[2016-04-08 16:28] #32 closed

[2016-04-08 16:29] umhan35 commented on #37
As stated in issue #35, you need to link the library.

[2016-04-08 16:29] #37 closed

[2016-04-11 14:35] rohitgoyal opened #70 "Any plan to develop for Android or any substitute for Android?"

[2016-04-11 20:41] umhan35 commented on #70
Currently no such plan. Contribution is welcome :fireworks:

[2016-04-12 01:19] #70 closed

[2016-04-12 01:19] #59 closed

[2016-04-12 01:19] #44 closed

[2016-04-13 01:46] nickw commented on #57
@fakefish same issue here - can you reopen or post your solution?

[2016-04-13 01:59] nickw commented on #57
@fakefish @CoericK sorry, it's clear in the README that you need to add the files in Xcode:

[2016-04-13 02:33] fakefish commented on #57
@nickw yeah, I forgot how I solve this problem, it should be the same as yours.

[2016-04-14 20:35] evollu opened #71 "cancel button doesn't show on the second time"
I set `showsCancelButton={true}` and it works correctly at the first time.
But after I click cancel and focus again, the cancel button doesn't show up. The value in UISearchBar is overwritten by `[self setShowsCancelButton:NO animated:YES];`

[2016-05-04 20:56] SirBryan commented on #27
In RNSearchBarManager.m, I changed RCT_CUSTOM_VIEW_PROPERTY(textColor...) by adding the ability to change the UIBarButtonItem's (Cancel button's) appearance:
[code]

[2016-05-06 18:59] alaycock opened #73 "Handle deprecation warnings in React Native 0.25.1"
New in RN 0.25:

[Instead of importing everything from `react-native`, you should import some from `react`.](https://github.com/umhan35/react-native-search-bar/blob/master/SearchBar.js#L3)

[2016-05-11 12:58] Mokto opened #76 "Let other people help you"
Hi @umhan35,

I see there are a lot of on-going issues and pull requests on this great plugin.

Would you mind giving someone (I can do it if you want) write access to help you with it ?

Thanks !

[2016-05-11 14:41] ghamaide commented on #65
+1

[2016-05-13 17:46] umhan35 commented on #76
Hi @Mokto, thanks for trying to helping out. But you don't need write access to help. Most of issues are open because they are questions more suitable to post on StackOverflow.

[2016-05-13 17:59] #73 closed

[2016-05-13 18:11] Mokto commented on #76
Well, thanks for your quick answer !

Looking forward to see this nice plugin evolve ;)

[2016-05-13 18:11] #76 closed

[2016-05-13 18:16] #58 closed

[2016-05-20 07:45] itinance commented on #65
+1

[2016-05-25 11:47] hearAllParties commented on #38
just change xcode language environment

[2016-05-25 11:51] #38 closed

[2016-05-27 22:44] ochengo commented on #27
Hi @SirBryan, how did you get that bit of code to work? Is that supposed to change the color of the 'x' button on the right?

[2016-05-28 04:55] SirBryan commented on #27
It changes the "Cancel" text to match the chosen tint.  In my case it's now off-white instead of blue to match the rest of the UI.

(Sent while mobile)

[2016-05-30 18:44] ochengo opened #77 "Changing magnifying glass / clear button tint color"
Hi I'm wondering if anybody has a solution for this? I'm having trouble with modifying the tint of these UIImageViews.

Greatly appreciate any help!

[2016-07-15 02:11] umhan35 commented on #71
I'll now take a look. Sorry for the delay.

[2016-07-15 03:34] umhan35 commented on #34
PR #80 should solve this issue. I'll wait @evollu for his response tomorrow and merge it.

[2016-07-15 03:34] #34 closed

[2016-07-15 18:20] umhan35 commented on #71
Solved in PR #79

[2016-07-15 18:20] #71 closed

[2016-07-15 18:22] umhan35 commented on #33
This a bug of RN: https://github.com/facebook/react-native/issues/721. The ListView have to be the root view or you can do: `automaticallyAdjustContentInsets={false}`

[2016-07-15 18:22] #33 closed

[2016-07-15 18:24] umhan35 commented on #24
Soved by `this.refs.searchbar.blur();`

[2016-07-15 18:24] #24 closed

[2016-07-17 21:10] breezykermo opened #83 "Search Bar not appearing"
The search bar component appears to be rendered in the DOM, but I can't see anything. Here's my code.

[code]

I double checked that I linked the dependencies, tried deleting and re-adding the project. Any ideas?

[2016-07-18 20:41] michaelhelvey commented on #83
What are your styles?  I had this problem when trying to put the search bar into a `Navigator.NavigationBar`, and to fix it, I just had to set the search bar's position to `absolute` (and set appropriate `top` and `padding` values).

[2016-07-18 21:31] breezykermo commented on #83
Hmm yeah it seems that when I explicitly style the search bar with a width and a height, it appears--it's just the default that's invisible.

[code]

[2016-07-18 21:37] michaelhelvey commented on #83
It's actually interesting to me that the code above has an effect.  I was talking about setting the `position` of the `SearchBar`'s container (such as, for instance, the `View`), since the `SearchBar` itself doesn't actually read any `style` props -- it's just a wrapper over the native `UISearchBar` which doesn't really have any easily customizable height or width properties.

[2016-07-18 21:55] breezykermo commented on #83
Oh hmm. Giving the search bar the following styles, `{ position: 'absolute', top: 10, left: 10 }` doesn't cause it to show up either. It's just the explicit styling of the SearchBar.

The styles are definitely getting through to the component:
<img width="755" alt="screen shot 2016-07-18 at 2 53 12 pm" src="https://cloud.githubusercontent.com/assets/16495856/16931785/9cb1f544-4cf7-11e6-884d-ece0f0

[2016-07-18 22:06] KishPatel1996 opened #84 "Cancel button appears on open"
The cancel button appears on app launch, but the text is not tinted.  Tapping the bar after tints the text.  Anyone know what may be causing this?

[2016-07-18 22:18] michaelhelvey commented on #83
React passes along whatever props you give a component, whether the component can render it or not.  I was talking about wrapping the `SearchBar` in a parent `View`, and setting the `position` of that.  For example, from an app I'm working on now:

[code]

I'm glad that setting the style on the `SearchBar` is working for you, it just kind of gets me interested in *why* that would work, since I wou

[2016-07-18 23:19] breezykermo commented on #83
Yeah, interesting. Is RN possibly doing the equivalent to your wrapper above? When I `import Searchbar from 'react-native-search-bar`, it seems that RN creates a wrapper component around the imported component, and passes down the props to the imported component (see picture of debugger above).

A theory would be that the style object I'm applying is operating first on that wrapper view, doing som

[2016-07-19 00:53] michaelhelvey commented on #83
Aha.  Figured it out, I think.  RN creates a category on `UIView`, which set a bunch of default `CALayer` styles, etc., based on the flex layout engine.  It's in the source code [here](https://github.com/facebook/react-native/blob/master/React/Views/UIView%2BReact.m) and [here](https://github.com/facebook/react-native/blob/master/React/Views/RCTView.m).  If you're familiar with Objective C categor

[2016-07-19 01:08] michaelhelvey commented on #84
That's the default behavior for the `UISearchBar` component.  This library simply wraps the `UISearchBar` component, to provide true native behavior.  For example, in the following iOS code:

[code]

Here, the cancel button will start as gray (disabled), and when the `UITextField` assumes first responder, it will become `[UIColor greenColor]`.

[2016-07-19 02:06] KishPatel1996 commented on #84
@michaelhelvey  Interesting, thanks for the insight.  Do you know of a way to have the bar initially not have 'cancel' showing?

[2016-07-19 02:10] KishPatel1996 commented on #84
Figured it out.  Set showCancelButton on true in the callback for onFocus.

Thanks for the great library!

[2016-07-19 02:10] #84 closed

[2016-07-20 10:35] PickHoon opened #85 "KeyboardDismissMode"
Hi, may I know what can I do to dismiss the keyboard other than click on the "cancel" button? I tried to use TouchableWithoutFeedback, but it failed to work as expected.

[2016-07-20 13:52] michaelhelvey commented on #85
The library provides `unFocus` and `blur` methods for total control over when the keyboard shows/hides.  See [the docs](https://github.com/umhan35/react-native-search-bar#managing-the-keyboard).

[2016-07-20 14:34] rmdort opened #87 "Warning when ScrollView with keyboardDissmode"
I have a ScrollView below the Search bar as below

[code]

When the search box is focussed and i drag the ScrollView, i am getting the following warning on Xcode. Cant seem to figure out how to fix it. I think it has something to do with `searchBarTextDidEndEditing`

[code]

![image](https://cloud.githubusercontent.com/assets/118231/16990297/0d50534e-4eca-11e6-9b43-06d1061fe4f1.png)

[2016-07-21 03:10] PickHoon commented on #85
Thanks @michaelhelvey for the replied. I had tried to show the search result by using listview. Now I found out that when I wished to dismiss the keyboard when I am scrolling the listview item, I have to add in keyboardDismissmode="on-drag" and keyboardShouldPersistTaps={false} in the listview.

[2016-07-25 06:54] Showyilu commented on #9
If you set hideBackground=true, and wrap the SearchBar with a View, you can style the background anyway you like

[2016-07-25 21:46] chirag04 opened #88 "pin search bar to the top of the screen"
There is no way to pin the search bar to the top of the screen.

[2016-07-28 14:19] luco opened #89 "Delay on Keyboard Hide"
Do you guys see a little delay while dismissing the keyboard?
I don't see this while dismissing with `keyboardDismissMode='on-drag'`

[code]

Also, when I search for something, tap on X, I cant unfocus from it, since my Search button is disabled.

[2016-08-12 04:28] xks19943 opened #90 "support android？ Tks！"

[2016-08-12 08:16] lakeoffaith commented on #90
+1

[2016-08-17 21:29] umhan35 commented on #90
I don't have plan for this. Your contribution is welcome.

[2016-08-17 21:29] #90 closed

[2016-08-17 21:52] lakeoffaith commented on #90
thank you

[2016-08-19 03:30] xks19943 commented on #90
thank you too

[2016-09-01 14:58] mshaaban0 commented on #57
the easiest way `rnpm link`

[2016-09-02 13:14] waleedarshad-vf opened #91 "What about android?"
Please provide support for android as well

[2016-09-06 08:39] joncursi commented on #57
run `rnpm link`, and don't forget to restart the packager and rebuild the app on simulator

[2016-09-06 09:34] joncursi commented on #88
Put it into a View, and style the view with position: fixed?

[2016-09-06 09:36] joncursi opened #92 "Do not show Cancel button on First Render / without focus"
When `showsCancelButton` is set to `true`, on first render, the Cancel button will appear on the screen even with no text entry in the Search Bar and no focus:

<img width="370" alt="screen shot 2016-09-06 at 5 34 47 am" src="https://cloud.githubusercontent.com/assets/4974609/18268876/bf1fb850-73f3-11e6-9758-3805517c1efe.png">

The Cancel button should only appear when the SearchBar has been focus

[2016-09-06 10:11] joncursi commented on #92
Duplicate of https://github.com/umhan35/react-native-search-bar/issues/84

[2016-09-06 10:11] #92 closed

[2016-09-14 23:34] joncursi opened #93 "Left Alignment of Placeholder Text?"
The search icon and placeholder text are aligned center by default. Would be great if that could change to left-hand or right-hand alignment, depending on the use case. I.e. in Apple Maps, the search bar placeholder and icon is left-aligned:

![img_2964](https://cloud.githubusercontent.com/assets/4974609/18533606/497eba22-7ab2-11e6-802c-b0fdce781afe.PNG)

[2016-09-28 09:39] jojonarte opened #94 "Autocomplete"
Is there like an autocomplete feature? Like you could cache in some words array to the search that if it detects something of the same key would show auto complete suggestions?

[2016-10-04 15:21] atdrago commented on #57
I just ran into this as well. Along with the above, make sure your scheme's build configuration is set to "Debug".

1. Product > Scheme > Edit Scheme...
2. Click the Run tab
3. Set "Build Configuration" to "Debug"

[2016-10-13 07:23] wangchaoduo opened #95 "how can I get the text in search bar"
like this I want to log the text in search bar in 'onSearchButtonPress' method,I cant found the solution,please bear my poor English

[2016-10-13 07:35] #95 closed

[2016-10-21 05:57] robtg4 opened #96 "Undefined is Not an Object"
Receiving the following error:

<img width="317" alt="screen shot 2016-10-20 at 10 56 22 pm" src="https://cloud.githubusercontent.com/assets/13613075/19588132/862d9880-9718-11e6-96a2-866ddb5eb0ef.png">

Here's the code:

[code]

[2016-10-21 08:11] dragfire opened #97 "onCancelButtonPress is not working."
Cancel button does close the keyboard but it is not calling the handler.

[code]

[2016-11-02 08:06] ilyaivjev opened #98 "How to set defaultValue?"
How to set default value like it's available with defaultValue prop in built-in <TextInput defaultValue="my text" />?

[2016-11-04 04:46] fancypig opened #99 "No Cancel Button"
Sorry where is the cancel button we have been talking about again?
I don't see it anywhere on my app
![14971562_1851292828438761_1957532742_o](https://cloud.githubusercontent.com/assets/10775435/19994799/0c4c767e-a228-11e6-957f-77f5db98dc1a.jpg)

[2016-11-04 14:16] fancypig commented on #99
Never mind, I found it. We need to enable showsCancelButton props to have the cancel button shown

[2016-11-04 14:16] #99 closed

[2016-11-09 02:50] yezongyang commented on #91
+1

[2016-11-12 02:58] shenders13 commented on #37
@DickyT, what did you mean by "2 * *.m and 2 * *.h files"?

I have this problem too.

[2016-11-19 17:40] andyfen opened #101 "Cannot read 'ComponentHeight' of undefined"
"react": "15.3.2",
    "react-native": "^0.37.0",
    "react-native-search-bar": "^2.16.0",

<img width="370" alt="screen shot 2016-11-19 at 09 37 15" src="https://cloud.githubusercontent.com/assets/5710962/20457246/ecc863e2-ae3b-11e6-99c2-e9799707039d.png">

[2016-11-23 15:00] DonovanCharpin commented on #101
Same issue with react-native 0.37.0

[2016-11-25 09:56] Aaaaaashu opened #103 "Placeholder text how to align to left icon"
![image](https://cloud.githubusercontent.com/assets/3678166/20621214/6c68b9ac-b338-11e6-8277-fc6f96f163cc.png)

I didn't find any suitable props to change placeholder text style.

Version:
"react-native-search-bar": "^2.16.0"
"react-native": "^0.36.0"

[2016-12-05 03:46] lin493369 commented on #91
+1

[2016-12-06 22:06] rikur commented on #101
react-native link react-native-search-bar

[2016-12-07 02:27] iRoachie commented on #97
Is this project no longer being maintained?

[2016-12-07 02:44] iRoachie commented on #84
@KishPatel1996 How did you manage to do this?

[2016-12-10 22:01] andremsantos commented on #101
I had the same issue. rebuild the app.

`react-native run-ios`

[2016-12-22 18:31] satyrius commented on #97
I have the same issue

[2016-12-23 04:15] iRoachie commented on #97
I figured out a way to do it. Try setting up the ref this way. In my example i'm binding the focus to the state.

[code]

[2016-12-24 10:05] iRoachie opened #104 "Alignment issues"
The icon and the placeholder isn't aligned.
![screen shot 2016-12-24 at 6 03 55 am](https://cloud.githubusercontent.com/assets/5962998/21466356/e72cb838-c99e-11e6-854b-b80e97376dca.jpg)

"react-native-search-bar": "^2.16.0"
"react-native": "0.39.2"

Problem seems to occur when using multiple search bars in a project.

[2016-12-26 05:55] AlisonWonderlandApps commented on #91
+1

[2017-01-11 05:36] patrickdinary commented on #84
This might be a dumb question, but can you explain how you set showsCancelButton in the callback? Thanks!

[2017-01-11 12:33] iRoachie commented on #84
@patrickdinary I keep a focus property in my state. Every time the input gets focus I change the property.

[code]

[2017-01-11 13:12] patrickdinary commented on #84
Great, thank you so much!

[2017-01-19 17:52] RyanAtViceSoftware commented on #101
I'm having the same issue in RN 0.40. Linking and rebuilding didn't help me.

[2017-01-22 08:15] CarmeloXue opened #108 "Can not compile my files"
I add the xcode project to my libraries, and add build Phases, but when i try to build my project,I got this error

![image](https://cloud.githubusercontent.com/assets/24514156/22181040/e087cac8-e0bd-11e6-9c6f-08238c32adba.png)
what should i do to fix this

[2017-01-22 09:14] CarmeloXue commented on #108
some times meet this error

![image](https://cloud.githubusercontent.com/assets/24514156/22181382/4542f6ec-e0c6-11e6-8b93-ccf3a17c56e0.png)

[2017-01-22 14:21] iRoachie commented on #108
Are you using react native 0.40? The current project isn't compatible with React Native v0.40, since the maintainer hasn't updated in a long time. You can get a working version from Freddy's fork. #105

[2017-01-23 02:08] CarmeloXue commented on #108
@iRoachie OK Problem solved many thx

[2017-01-23 02:13] #108 closed

[2017-01-23 05:56] CarmeloXue opened #109 "Got a deadlock when I use This package"
Follow the instruction in the closed issue ,i use Freddy's fork for my App because my react native is 0.40.
And I can add a search bar into my app. Sometimes I can trigger it by using react-native run-ios, but it's performance  is low and i can't open a remote debugger. But when I use Xcode to built my app, i got this

![image](https://cloud.githubusercontent.com/assets/24514156/22193001/983068d2-

[2017-01-26 21:33] bantisk commented on #65
+1

[2017-01-29 16:39] circuit-monkey opened #110 "Keyboard not appearing"
I've created the following component:

[code]

And it works - except that the keyboard does not appear when doing a search.

What might I be doing wrong exactly?

[2017-02-02 02:27] tedjames commented on #110
I'm having the same issue as well :/

[2017-02-02 03:08] tedjames commented on #110
Lol.... Idk why I didn't realize this earlier but the keyboard isn't supposed to show up in the simulator! Run the app on your phone and the keyboard will pop up.

[2017-02-02 15:49] edo1493 opened #111 "Tab bar gets clicked"
Hi,
I am using this component along side a tab bar. Whenever I click the "search button", the tab bar element underneath gets clicked too. This behaviour doesn't happen when I open the keyboard through a TextInput. I am wondering if this is related to the component itself and if anyone has seen this behaviour.

I am currently on "react-native": "^0.40.0".

[2017-02-02 16:01] edo1493 commented on #110
Just press CMD + K and the keyboard will show up. : )

[2017-02-02 19:15] tedjames commented on #110
Aha! Thanks for the tip 👍

[2017-02-04 02:20] mlevkovsky commented on #98
+1

[2017-02-04 06:09] WhynoChinese opened #112 "undefined is not an object (evaluating \'NativeModules.RNSearchBarManager.ComponentHeight\')"
undefined is not an object (evaluating \'NativeModules.RNSearchBarManager.ComponentHeight\')

[2017-02-07 06:52] camslaz commented on #35
I ran into the same issue after installing the package and running `react-native link` for latest versions of react-native. I just killed the simulator, packet manager and relaunched with `react-native run-ios` and it solved the error.

[2017-02-08 15:40] gperdomor opened #113 "[Question] Return Key"
It's possible change the "Search" text from Return Key to "Done"?

[2017-02-18 17:19] tmaximini commented on #104
did you find a solution for this?

[2017-02-18 22:07] iRoachie commented on #104
Nah Man. I haven't got the slightest clue

[2017-02-20 01:30] kh1990 commented on #109
+1 same issue, been using xcode to debug but its a pain...

[2017-02-20 01:40] kh1990 commented on #109
Apparently this is more of a core issue with RN rather than the library...see here: https://github.com/facebook/react-native/issues/11196

[2017-02-20 16:33] samdiaz opened #115 "Setting textFieldBackgroundColor changes the height"
The height gets changed to 34, when it should be 30.

See lines 80-85 in RNSearchBarManager.m.

    // Add a clip before drawing anything, in the shape of an rounded rect
    [[UIBezierPath bezierPathWithRoundedRect:CGRectMake(0,0, 34, 34)
                                cornerRadius:5.0] addClip];`

Happy to submit a PR fixing this.

[2017-02-23 12:32] faogustavo commented on #91
+1?

[2017-02-24 11:59] martsie commented on #109
This cost me a night of development till I could trace it back to to react-native-searchbar ... it's a really difficult thing to debug unless you actually run the app using xcode, check the logs, and google lands you on this page.

Until this bug is fixed I think it's best to steer developers away from using this module unless they don't need access to their debugger.

[2017-02-28 15:06] gkueny commented on #65
+1

[2017-03-03 15:05] kh1990 commented on #109
Update: I noticed the deadlock only occurs for me when I am working on a branch. Each time I submit a pull request and merge into the master, the deadlock is resolved. Maybe this will help some of you.

[2017-03-03 17:12] JodiWarren commented on #104
While I couldn't actually fix this one I did find a workaround. It seemed to happen when I had any of the colour properties set, i.e. `barTintColor`. So I set `hideBackground={true}` and set `backgroundColor` on the parent View, and this seemed to work around the bug effectively.

Before:
[code]

After:
[code]

[2017-03-04 11:29] gilra2000 commented on #97
iRoachie// good!!

[2017-03-06 09:44] beormalte commented on #112
This worked for me:
react-native link
xcode - products > clean
stop project and start it again

[2017-03-07 18:15] femiveys commented on #94
Any news on this?

[2017-03-13 04:06] tmaximini commented on #104
@JodiWarren thanks, but removing barTintColor property or adding hideBackgroundColor does not affect alignment of placeholder text or Icon at all in my case, it still looks of like in the screenshot above.

[2017-03-15 16:26] JodiWarren commented on #104
@tmaximini

This is literally the code I'm using in my render method. Give it a shot, maybe it'll help find out what's different about our setups:

[code]

Here's the end result:
![image](https://cloud.githubusercontent.com/assets/1337003/23959028/dd5e16c0-099b-11e7-9384-bb0a991f6009.png)

[2017-03-15 16:30] iRoachie commented on #104
Can you try using multiple search bars? Like on different pages? I only encountered the problem when there were more than one

[2017-03-15 16:57] JodiWarren commented on #104
@iRoachie I just chucked a few extra components in, and it works for me too:

Same page:
![image](https://cloud.githubusercontent.com/assets/1337003/23960520/17fb867e-09a0-11e7-8495-9f89721938f7.png)

Different page:
![image](https://cloud.githubusercontent.com/assets/1337003/23960530/24b2014a-09a0-11e7-9c32-ed6e027ea4d6.png)

If you've removed all the props that I'm not using and you're not getti

[2017-03-15 16:59] iRoachie commented on #104
Can you try changing the color of the text input and tell me if it still behaves the same?

[2017-03-15 17:02] JodiWarren commented on #104
@iRoachie I did mention in my earlier comment (https://github.com/umhan35/react-native-search-bar/issues/104#issuecomment-284012858) setting any of the colour props like `textColor` would cause this issue. Is that what you mean?

[2017-03-15 17:05] JodiWarren commented on #104
Btw, I have found that this glitch is especially sticky when you're in the simulator - I sometimes have to kill the React Native packager and iOS simulator, run `killall node` in the command line, and then restart it to get the changes to appear.

[2017-03-15 17:05] iRoachie commented on #104
It happened to me on device as well.

[2017-03-15 17:08] iRoachie commented on #104
Anyway you think we could style input, and without affecting the layout

[2017-03-15 17:21] JodiWarren commented on #104
Not without someone with more time and Objective-C knowledge than me fixing the actual bug! I'm just proposing a way to work around it, if all you need is to change the background colour. If you need to change the text colour, then I'm afraid that I can't help.

[2017-03-17 03:46] tmaximini commented on #104
@JodiWarren what versions of iOS, react-native and this package are using? I have the alignment issue even when just using the bare default, without any background colors.

[2017-04-06 20:26] smtlaissezfaire commented on #112
I did the manual linking that the docs tell you to do, and then rebuilt in xcode, and all worked!

[2017-04-18 14:19] joshuapinter commented on #97
I have `onCancelButtonPress={ () => { console.log('hi there') } }` and I find that the callback isn't even being called. And my keyboard remains up after hitting the cancel button and the SearchBar is still focused.

Are you guys finding the same thing? Any way around that?

Thanks!

[2017-04-20 11:01] raghuureddy commented on #91
+1

[2017-04-26 11:09] hxqbeyond commented on #96
I have some issue.
Try to do:
react-native link
react-native run-ios
or:
Xcode clean
Xcode rebuild
But it did no good.

[2017-04-26 12:26] vonovak opened #120 "how to localize the 'cancel' button text"
I thought this would work out of the box, but when I switch the system language to different than english, the button still shows "cancel" instead of eg. "abbrechen" in german. Any ideas why this is the case?

[2017-05-04 15:13] kuldeepantil commented on #65
+1

[2017-05-25 06:35] vonovak commented on #120
this can be done by going to project settings in xcode and adding the language there, in the "Localizations" tab.

[2017-05-25 06:35] #120 closed

[2017-05-28 16:11] seanseany commented on #91
+1

[2017-05-29 00:16] lukemiles commented on #104
I fixed this in #121 (could only reproduce when color of text was changed)

[2017-06-13 09:19] villancikos commented on #101
Thanks a lot! The link rebuilding worked!

[2017-06-13 15:21] #101 closed

[2017-06-14 20:15] mithunm93 commented on #109
In case anyone comes to this thread in search of the solution, the link @kh1990 posted above now contains the answer: https://github.com/facebook/react-native/issues/11196#issuecomment-298376877

[2017-07-07 05:59] changjianhong opened #122 "Warning: Native component for "RNSearchBar" does not exist"
react-native-cli: 2.0.1
react-native: 0.44.0
react-native-search-bar 3.0.0

[2017-07-10 21:22] ozburo commented on #122
You need to link the binaries:

`react-native link`

And recompile:

`react-native run-ios`

[2017-07-14 18:44] Tom29 commented on #11
Still get this error on version 3.0.0

[2017-07-18 11:01] dhioetanasti commented on #112
i did the manual linking and there is this error -> 'React/RCTViewManager.h' file not found

[2017-07-28 17:43] #104 closed

[2017-08-03 17:04] sujameslin commented on #98
there's `text` props that can be used as defaultValue

[2017-08-05 10:19] chrise86 commented on #109
@mithunm93 if anything, the answer posted there makes it worse for me - I start getting all sorts of errors 😞

[2017-08-08 12:46] allardvdo opened #124 "SearchBar actions trigger TabBarIOS.Item onPress"
The SearchBar actions (cancel/search) triggers the TabBarIOS.Item onPress. This will cause unexpected behavior if other code is attached to the onPress.

Please see the code below to reproduce the issue. The `console.warn('selectTabBarItem')` is triggered when changing tabs (as expected) but also on the contacts tab when searching on a value or when pressing cancel on the search bar.

[code]

Any

[2017-08-09 06:56] allardvdo commented on #124
I fixed it by replacing the `onPress` function. The `onSearchButtonPress` and `onCancelButtonPress` functions of SearchBar do not stop the `onPress` event propagation. This is causing the event to proceed up to the app chain and also trigger the onPress of the `TabBarIOS.Item`.

See the `onPress` function below for my resolution.

[code]

[2017-08-09 06:56] #124 closed

[2017-08-09 06:58] allardvdo commented on #111
I had a similar problem.

See https://github.com/umhan35/react-native-search-bar/issues/124 for work-around.

[2017-09-18 16:03] luco opened #127 "Not working with keyboardShouldPersistTaps."
Thank you for this plugin. It's really nice.
I caught a bug while doing some tests. It seems that it doesn't respond to a `ScrollView` with `keyboardShouldPersistTaps='never'` while a `TextInput` does.

Any thoughts?

Thanks

[2017-10-05 19:45] vonovak opened #128 "is this repo dead?"
hi @umhan35 I'd like to ask if you plan on maintaining the repo, or if you're looking for some maintainers. There are currently several issues that make it not possible to use the package with newest RN. :/ The PRs are already there but not being merged/reviewed.
thanks :)

[2017-10-10 10:38] jxom commented on #128
https://github.com/localz/react-native-searchbar is a very good alternative, and supports Android too!

[2017-10-11 11:55] vonovak commented on #128
@umhan35 can you please comment on this? Thanks :)

[2017-10-11 12:49] jxom commented on #128
@vonovak, more flexibility, actively maintained, try it out and see for yourself. :)

[2017-10-26 05:04] Benjamin-Dobell commented on #128
Hmm, I actually thought based on the dead homepage and lack of Github activity that it was possible @umhan35 may have passed away - it does happen occasionally. However, @umhan35's Facebook account seems to have been active in October, so it's possible he's just decided to step aside from open source for a while. Perfectly acceptable (although a public announcement would have been appreciated), bu

[2017-11-09 08:04] mmorcc opened #130 "can not use in android 安卓不能用啊"

[2017-11-09 10:16] vonovak commented on #128
Since @umhan35 is not responding, I have reached out to npm to claim the package name. If that goes through, the community may continue the development in a fork and publish under the same npm name. If anyone is interested in being a maintainer, let me know.

[2017-11-19 00:55] umhan35 commented on #130
Sorry I don't provide Android support as of now. You can try to find other packages for that.

[2017-11-19 00:55] #130 closed

[2017-11-19 01:02] umhan35 commented on #128
👎 I'm not passing away. I was still working for your guys this Jan for free. I'm busy with my PhD now. I'll try to contact @iRoachie if he'd like to be a collaborator of this repo and I'll add him to npm too.

[2017-11-19 01:02] #128 closed

[2017-11-19 01:07] #122 closed

[2017-12-27 20:15] #6 closed

[2017-12-27 20:15] #9 closed

[2017-12-27 20:17] #31 closed

[2017-12-27 20:18] iRoachie commented on #27
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:18] #27 closed

[2017-12-27 20:19] iRoachie commented on #40
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:19] #40 closed

[2017-12-27 20:19] iRoachie commented on #63
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:19] #63 closed

[2017-12-27 20:20] iRoachie commented on #77
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:20] #77 closed

[2017-12-27 20:20] iRoachie commented on #83
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:20] #83 closed

[2017-12-27 20:21] iRoachie commented on #85
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:21] #85 closed

[2017-12-27 20:21] iRoachie commented on #87
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:21] #87 closed

[2017-12-27 20:21] iRoachie commented on #88
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:21] #88 closed

[2017-12-27 20:21] iRoachie commented on #89
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:21] #89 closed

[2017-12-27 20:23] iRoachie commented on #91
Hey guys! Closing this as non-actionable for now. Currently the library is a port of UISearchBar to react -native. Although not impossible, it's very unlikely that android will be supported.

[2017-12-27 20:23] #91 closed

[2017-12-27 20:23] iRoachie commented on #94
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-27 20:23] #94 closed

[2017-12-27 20:24] iRoachie commented on #96
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern in the latest version, please create a new issue. Thanks

[2017-12-27 20:24] #96 closed

[2017-12-27 20:29] iRoachie commented on #97
Hey guys this should be fixed in the latest release! Just published [v3.1.0](https://github.com/umhan35/react-native-search-bar/releases/tag/v3.1.0) 🎉

[2017-12-27 20:29] #97 closed

[2017-12-27 20:30] iRoachie commented on #98
As @sujameslin said you can set the initial value by setting the `text` prop.

[2017-12-27 20:30] #98 closed

[2017-12-27 20:32] iRoachie commented on #109
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern in the latest version, please create a new issue. Thanks

[2017-12-27 20:32] #109 closed

[2017-12-27 20:34] iRoachie commented on #103
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern in the latest version, please create a new issue. Thanks

[2017-12-27 20:34] #103 closed

[2017-12-27 20:34] #110 closed

[2017-12-27 20:37] iRoachie commented on #112
Hey new maintainer here. We just published v3.1.0. If this is still a problem in the latest version, please create a new issue or ping me to reopen this one. Thanks

[2017-12-27 20:37] #112 closed

[2017-12-27 20:38] iRoachie commented on #127
Hey there @luco, could you create a simple repo that would replicate this behavior or paste your example here?

[2017-12-27 20:45] iRoachie commented on #115
Hey @samdiaz new maintainer here. We recently release [v3.1.0](https://github.com/umhan35/react-native-search-bar/releases/tag/v3.1.0), if this is still happening then ping me to reopen this issue or create a new issue.

[2017-12-27 20:45] #115 closed

[2017-12-27 20:47] iRoachie commented on #111
Hey @samdiaz new maintainer here. We recently release v3.1.0, if this is still happening then ping me to reopen this issue or create a new issue.

[2017-12-27 20:47] #111 closed

[2017-12-27 22:41] iRoachie commented on #113
Hey @gperdomor this is implemented in https://github.com/umhan35/react-native-search-bar/pull/133/commits/a1811f2b5b518c052507ada8b9af6d3f64437b5e and is scheduled to be in the next release

[2017-12-27 23:16] iRoachie commented on #65
Implemented in https://github.com/umhan35/react-native-search-bar/pull/133/commits/4749a909f5c272a7fdaaac10d46cf506be47bb66, will be available in the next release

[2017-12-29 10:07] ansal-exp commented on #127
I have created one in the snack. https://snack.expo.io/rJ7NGqQmG please check. It seems so weird.
Its actually dismissing the keyboard but takes a second to dismiss the keyboard.

[2018-01-05 14:08] iRoachie commented on #93
Not sure what's the best way to add this functionality into our current setup. Placeholder alignment isn't supported natively for UISearchBar. In the example your posted, they're using a UITextField and handling the UISearchBarDelegate.

This is definitely something I'd like to have in the library though. Any suggestion you have would be appreciated.

[2018-01-07 16:27] iRoachie commented on #127
Alright @ansal-exp, I confirmed that `keyboardShouldPersistTaps="never"` doesn't work. Any material you can point me to to get this fixed would be grateful

[2018-01-08 00:33] ansal-exp commented on #127
I think its a bug with react-native bundled scrollview, so it should be first reported on react-native github.

[2018-01-08 00:34] iRoachie commented on #127
It's probably not a bug per say, it may just be that their `TextInput` component handles this under the hood

[2018-01-08 00:38] ansal-exp commented on #127
But, the thing is, keyboard is always be connected to a textinput. And the scrollview prop keyboardShouldPersistTaps is used to give us handling of the keyboard appearance. If the textinput is intended to handle the things solely, there is no need of any such props.

[2018-01-08 03:35] iRoachie commented on #113
Released in [v3.2.0](https://github.com/umhan35/react-native-search-bar/releases/tag/v3.2.0). You can use the `returnKeyType` prop.

[2018-01-08 03:35] #113 closed

[2018-01-08 03:37] iRoachie commented on #65
Released in [v3.2.0](https://github.com/umhan35/react-native-search-bar/releases/tag/v3.2.0). You can use the `clearText` method to accomplish this.

First make a ref, then you can call the method `this.refs.searchBar.clearText();`

[2018-01-08 03:37] #65 closed

[2018-01-08 10:12] ocarreterom opened #136 "onCancelButtonPress and onSearchButtonPress not working in RN 0.51"
Callbacks `onCancelButtonPress` and `onSearchButtonPress` are not working in:
- RN 0.51.0
- react-native-search-bar 3.2.0
- iOS 11.2 (simulator)

I don't know if this warning affects:

[2018-01-08 11:11] iRoachie commented on #136
Hey @ocarreterom your project is probably referencing an older version of the library as I just created a new project and had no issues.

Try these steps:
`react-native unlink react-native-search-bar`
`npm install --save react-native-search-bar@latest`
`react-native link react-native-search-bar`

[2018-01-08 14:13] ocarreterom commented on #136
Thanks @iRoachie . I removed and linked again `libRNSearchBar.a` and now works fine.

[2018-01-08 14:15] iRoachie commented on #136
Great! Glad I could help!

[2018-01-08 14:15] #136 closed

[2018-01-13 01:04] EclipticWld opened #141 "Unexpected color change"
Hey. I wanted to change barTintColor on '#2196f3' but factually it becomes '#2a92e6'. What's wrong with that?

 ![f](https://i.imgur.com/jPxCfsy.png)

[2018-01-13 14:12] EclipticWld commented on #141
@iRoachie

[2018-01-13 14:41] iRoachie commented on #141
Hey, will check it tonight when I get in

[2018-01-13 14:42] EclipticWld commented on #141
@iRoachie thank you!

[2018-01-13 16:32] EclipticWld commented on #141
I suddenly realized that search bar has opacity somehow probably because of [RNSearchBarManager.m#L84](https://github.com/umhan35/react-native-search-bar/blob/master/ios/RNSearchBarManager.m#L84)

[2018-01-13 16:46] EclipticWld opened #142 "Cutomize cancel button text"
I'm not familiar with iOS programming but I think it would be cool to have a parameter for customizing cancel button.

[code]
![](http://i.stack.imgur.com/vDhmQ.png)

[Found here](https://codedump.io/share/PVdIrhQu4p12/1/ios-change-the-title-of-cancel-button-in-uisearchbar)

[2018-01-14 02:56] iRoachie commented on #142
Hey that's a brilliant suggestion! I see it being particularly useful for wanting to use other languages other than English. I just added it on `next`, let me know if it works for you.

[2018-01-14 03:00] EclipticWld commented on #142
Thanks 👍

[2018-01-14 03:00] #142 closed

[2018-01-14 03:15] iRoachie commented on #141
That opacity tint is actually just for the text field so it doesn't affect the bar.
Not sure what's up though, it seems to be fine in my tests.

![simulator screen shot - iphone 6 - 2018-01-13 at 23 15 30](https://user-images.githubusercontent.com/5962998/34912427-b1f2b304-f8b7-11e7-9bec-7babc2aa5a3c.png)

[2018-01-14 12:54] EclipticWld commented on #141
hm. Ok. I found a workaround on my side by setting background underlayer.

[2018-01-14 12:54] #141 closed

[2018-01-14 18:48] EclipticWld opened #144 "Possible feature: action icon next to search bar"
I've noticed that the library doesn't have the option to set showing "+" button while not editing. It would be cool to this one with ability to set a color for the icon.

![](https://media.giphy.com/media/3ohc12sqIE1SpUweTm/giphy.gif)

[2018-01-14 18:48] EclipticWld commented on #144
@iRoachie what do you think about it?

[2018-01-14 18:59] iRoachie commented on #144
Seems like a very specific use case. Can you not have a container with the searchbar and your icon button next to it?

[2018-01-14 20:49] EclipticWld commented on #144
This is Reminders inbuild iOS App. So it's hard to say that it's a very specific use case. I can make a container but it takes more space on the screen to place [Search][Cancel][+]

[2018-01-14 20:59] ocarreterom commented on #93
I think in iOS 11 the placeholder is right aligned.

[2018-01-14 22:55] iRoachie commented on #144
Would the `cancelButtonText` on the `next` branch work for your use case?

[2018-01-15 13:44] EclipticWld commented on #144
I don't think so. I'm not forcing to implement features for my needs. I'm just offering ways to extend functionality and if it's along with my needs it's cool.

Just to clarify Remiders app states:
[code]

If we add manually [+] button it would be

[code]

If pass `showsCancelButtonWhileEditing` it would be

[code]

[2018-01-29 11:25] toinfinityandbeyond commented on #127
Same issue over here.
Search bar remains focused no matter where I tap...Even with `keyboardShouldPersistTaps='never'` and `keyboardDismissMode: 'on-drag'`

Did you find any solution?

[2018-01-29 12:43] iRoachie commented on #127
Haven't found a solution as yet @toinfinityandbeyond, still looking into how I can implement

[2018-01-29 12:43] iRoachie commented on #127
@umhan35 Can you shed some light?

[2018-02-01 15:57] umhan35 commented on #127
I remember somehow I had a similar issue. I'll take a look at my code and get back to you this week.

[2018-02-07 08:37] toinfinityandbeyond commented on #127
Any update @umhan35 ?

[2018-02-07 23:17] Quach90 opened #145 "Change text color of Icons + Placeholder text"
Is it possible to change the color of Icons (search and (X)) and placeholder text right now? You can change the color of pretty much everything else.

[2018-02-07 23:22] iRoachie commented on #145
Will look into it

[2018-03-05 10:04] wudashuaige opened #146 "Don't support android?"
undefined is not an object

[2018-03-05 10:19] iRoachie commented on #146
It’s only for iOS.

[2018-03-16 15:58] Noitidart commented on #146
Is there chance for Androdi support? Android also has a search view called `android.widget.SearchView`.

We see NativeScript has done this here:

https://nativescript-vue.org/en/docs/elements/components/search-bar/

[2018-03-18 21:50] rudyryk opened #148 "showsCancelButton property has no effect, cancel button is always visible while editing"
I'm using the following code to render search bar

[code]

but still getting "Cancel" button rendered:

<img width="374" alt="cancel-button" src="https://user-images.githubusercontent.com/4500/37571489-55340bca-2b0e-11e8-8473-34955431e625.png">

[2018-03-18 21:55] iRoachie commented on #148
You have to set `showsCancelButtonWhileEditing` to false

[2018-03-19 16:15] rudyryk commented on #148
@iRoachie Thank you, that worked! Actually I tried it first but something went wrong (don't know exactly what) but finally everything is OK.

[2018-03-19 16:15] #148 closed

[2018-04-07 18:52] benstoehr commented on #122
If you are in a "create-react-native-app" how do you fix this issue?

There is no way to link the libraries because you cannot run "react-native link" in a CRNA directory.

I am using Expo and a physical iPhone.

[2018-04-07 19:01] iRoachie commented on #122
There’s no way to use this library with CRNA or Expo since it’s a native module. You can try using the SearchBar from react-native-elements if you want a JS only search bar

[2018-05-21 17:59] alexlevy0 commented on #112
Same issue with RN 0.55.4 and react-native-search-bar@3.4.1

[2018-05-23 05:12] iRoachie commented on #112
@alexlevy0 Did you try the solution above? This is often a problem when the library is not linked correct.y

[2018-09-05 20:27] James-E-Adams commented on #145
Hey @iRoachie! Thanks for a great component. Any chance this ever got looked at?

[2018-09-06 11:10] iRoachie commented on #145
I looked at it but I think it’s a limitation of UISearchBar. The other apps that do it natively actually are a UITextfield that is using the UISearchBar Delegate. Eventually I will point persons to a fully javascript version of this that works the same way allowing more customization

[2018-09-07 00:17] James-E-Adams commented on #145
Oh, you plan on removing the native code?

[2018-09-07 10:56] iRoachie commented on #145
Not sure of the plan as yet, but it’s definitely easier to accomplish changes like this in JavaScript.

[2018-09-07 22:44] eveningkid commented on #112
Hey,

I have the same issue and can't manage to have it working.
After going through the manual linking, here's what I get:

![image](https://user-images.githubusercontent.com/7188494/45246116-d97c3280-b2ff-11e8-8aad-0d58977e1c7a.png)

![image](https://user-images.githubusercontent.com/7188494/45246094-c49f9f00-b2ff-11e8-9fad-a422d5c37da0.png)

It keeps failing when I build it:

![image](https://u

[2018-09-08 15:12] iRoachie commented on #112
Did you rebuild the project after installing and linking?

[2018-09-08 15:17] eveningkid commented on #112
When I try to build in Xcode, it fails. After linking again and running it on the device, I still get the `ComponentHeight` exception showing up.

Have I missed something?

[2018-09-09 03:28] iRoachie commented on #112
Can you link to your project? I have no problems setting up a new project.

[2018-09-10 19:02] unmec commented on #85
To make the FlatList that contains search results work well with keyboard :-)

[code]

[2018-10-09 22:19] bucchere opened #153 "TypeError: undefined is not an object (evaluating '_reactNative.NativeModules.RNSearchBarManager.ComponentHeight')"
People have reported this is in the past. Not sure if it remains unfixed or if I'm experiencing a problem with my environment. I'm new to react-native so please bear with me.

I tried to create the most simple case I could to reproduce this. I'm on OS X 10.13.6.

console input:
[code]

package.json:
[code]

console output:
[code]

[2018-10-09 22:20] iRoachie commented on #153
This is a native library. Expo does not support native libraries.

[2018-10-09 22:20] #153 closed

[2018-10-09 22:21] iRoachie commented on #153
You can try using the SearchBar from 'react-native-elements'  https://react-native-training.github.io/react-native-elements/docs/next/searchbar.html.

[2018-10-09 22:21] bucchere commented on #153
Oh, okay, thanks. Pardon the interruption.

[2018-10-22 07:05] rincethomas opened #154 "Error in Height"
Type Error Undefined is not an object. react native. RNSearchBarManager.ComponentHeight

[2018-10-23 06:46] iRoachie commented on #154
Are you using expo?

[2018-10-24 06:45] rincethomas commented on #154
No

[2018-10-28 08:29] iRoachie commented on #154
Couldn't replicate this. I just created a new project and it worked as normal.

1. `react-native init Test`
2. `cd Test`
3. `npm install react-native-search-bar && react-native link react-native-search-bar`
4. `react-native run-ios`

Works as expected.

[2018-10-28 08:29] #154 closed

[2018-11-05 20:18] mtzfactory commented on #146
Yeah, that would be very interesting...

[2019-01-08 23:04] MiLeung commented on #93
A hack is to just add spaces to the end of the placeholder text like `'Search for a pa=lace or address
         '`

[2019-01-08 23:04] MiLeung commented on #93
A hack is to just add spaces to the end of the placeholder text

[2019-01-08 23:06] MiLeung commented on #93
A hack might be to just add spaces to the end of the placeholder text

[2019-03-18 17:13] pie6k opened #157 "Is it possible to adjust font family?"

[2019-07-02 01:42] iRoachie commented on #157
Not possible at the moment. However it seems like it can be done. https://stackoverflow.com/questions/4697689/change-the-font-size-of-uisearchbar

[2019-10-04 06:44] iRoachie commented on #146
Released in [v3.5.0](https://github.com/umhan35/react-native-search-bar/releases/tag/v3.5.0)

[2019-10-04 06:44] #146 closed

[2019-10-04 12:55] Noitidart commented on #146
Thank you Kyle!!!!

On Thu, Oct 3, 2019 at 11:44 PM Kyle Roach <notifications@github.com> wrote:

[2019-10-21 07:36] marwan2 opened #163 "function onCancelButtonPress not being called"
First I'm using the search to call an API, not client side search.
So the behaviour when I click X button to clear search is to go to
function onCancelButtonPress

this is to call again the API after setState of searchKeyword to empty.
This behviour not working.

[code]

and the cancel handler:
[code]

[2019-10-21 15:38] iRoachie commented on #163
You're listening for an event that will never happen. `onCancelButtonPress` only fires when tapping the `Cancel` button, there's no special event for tapping `X`, just use onChange

[2019-10-22 10:51] marwan2 commented on #163
Why don't you add event for pressing X button ?

[2019-10-22 13:18] iRoachie commented on #163
UISearchBar doesn't have an event for this natively. The only way is to check if the string is empty in the onChange

[2019-10-22 13:26] marwan2 commented on #163
OK I'll try it, thanks

[2019-10-22 13:26] #163 closed

[2019-10-24 01:54] danielfein opened #164 "Cannot read property ComponentHeight of undefined"
I've been using this on iOS and it works really well. Would love to use it on Android, but on attempt, I'm receiving
`Cannot read property ComponentHeight of undefined`

Presumably, it can't find the module?

I didn't import anything into MainApplication.java like I have for others, not sure what the package name would be / path to import it.

package.json:
[code]

This is my settings.gradle:

[co

[2019-10-24 02:20] danielfein commented on #164
This was solved by linking manually with:

`react-native link react-native-search-bar`

[2019-10-24 02:20] #164 closed

[2019-10-24 03:34] danielfein opened #165 "Remove underline on Android"
Is it possible to remove the underline that appears on Android?

I see the native TextInput has a prop called `underlineColorAndroid="transparent"` but checking the TS file I don't see anything for this, any work arounds to achieve it?

[2019-10-24 12:56] iRoachie commented on #165
@alpha0010 How hard would it be to add this?

[2019-10-28 20:53] alpha0010 commented on #165
Hmm. Surprisingly difficult unfortunately.  This is implemented via a `SearchView`, not a `TextInput`.  As such, in order to modify unexposed styles, one must [parse the element](https://github.com/umhan35/react-native-search-bar/blob/master/android/src/main/java/org/umhan35/RNSearchBarManager.java#L162-L165) for the appropriate base widget to modify.  The "underline" is not (on most platforms) im

[2019-11-01 12:30] KostasKostogloy opened #166 "[iOS 13] Text and icon's color is different in darkmode"
iOS 13 introduced dark mode (https://support.apple.com/en-us/HT210332).

If the user has it enabled the appearance of the searchbar changes (icon and text color):
![image](https://user-images.githubusercontent.com/7452129/68024633-519b7980-fcb3-11e9-919a-37270ccad3e4.png)

I am aware that we can change the default text color with the `textColor` prop but how can we change the icon (magnifying glas

[2019-11-01 14:38] iRoachie commented on #166
Isn't this the correct behaviour? This is what the settings from iOS shows

![image](https://user-images.githubusercontent.com/5962998/68032055-39b3fd80-fc93-11e9-82f2-c6d03c7e1304.png)

And this is this library:

![image](https://user-images.githubusercontent.com/5962998/68032294-c3fc6180-fc93-11e9-9005-83da49e00abb.png)

[2019-11-01 15:44] KostasKostogloy commented on #166
@iRoachie We don't use dark mode on our app and as a result the lighter gray icon fades (as you can see on the screenshot).

If there's no way to opt out of dark mode adjustments on the app's level, we should at least be able to override the icon to keep it consistent regardless of user using darkmode or not.

[2019-11-01 16:08] iRoachie commented on #166
As far as I know, the icon is an image https://stackoverflow.com/questions/27014529/how-to-change-the-color-of-the-uisearchbar-icon. If you don't use dark mode in your app you can simply opt-out of it. https://stackoverflow.com/questions/56537855/is-it-possible-to-opt-out-of-dark-mode-on-ios-13

[2019-11-01 17:21] KostasKostogloy commented on #166
@iRoachie I see. I must opt-out from darkmode from my app. Thanks for pointing me to the right direction 🍻

[2019-11-01 18:16] #166 closed

[2019-12-04 20:40] wallstar opened #167 "onFocus firing on Android when AppState changes from 'inactive' or 'background' to 'active'"
Only happening on real Android devices for me.  When opening the app after it's been soft closed, onFocus is firing and the keyboard is popping up.

[2019-12-25 18:40] RodolfoGS commented on #127
Any update about this? I have the same issue

[2019-12-25 19:15] RodolfoGS commented on #165
Same issue

[2020-01-05 23:49] Noitidart commented on #165
I'm thinking of use a view to overlap the underline to hide it.

[2020-01-07 13:29] Noitidart commented on #165
Oh gosh my overlaid view covers hanging part of characters, that was silly of me.

[2020-01-07 18:31] alpha0010 commented on #165
Did some searching around. You may be able to adapt this solution: https://stackoverflow.com/a/27687155

Also, grep for `search_plate` and `mSearchPlate` in the Android sdk source.

If you are trying your hand at this, be aware the hard part with react native style properties is to correctly (re)apply the native styles when the JS code does not explicitly set a value.

[2020-01-18 14:05] mtzfactory opened #169 "Change background color in Android"
Hi,

It is possible to change the background color? Currently it is a white box...
Can it be done with: `https://facebook.github.io/react-native/docs/direct-manipulation`?

att,
mtz

[2020-01-18 14:10] mtzfactory commented on #169
Shame on me... read the code first!

For any one interested, the component accepts the property `textFieldBackgroundColor`...

[2020-01-18 14:10] #169 closed

[2020-02-18 14:10] 2xSamurai opened #170 "Back button and clear search buttons missing on Android"
OS: Android

Hi. First of all, thank you for the plugin.

Is there any way to implement the back and clear buttons on Android. It seems to be missing for me. Am I doing something wrong? I am not sure. Please help.

Thank you.

[2020-03-14 17:15] JordanRosas opened #173 "set_cancelButtonText: ivar is prohibited this is an application bug"
<img width="307" alt="Screen Shot 2020-03-14 at 12 13 36 PM" src="https://user-images.githubusercontent.com/32945622/76686924-5e2ec780-65ed-11ea-8f1c-0e3660acb11c.png">

As soon as I implemented a SearchBar tag this error showed up and cannot figure out why this is happening. Any help is appreciated!

[2020-03-17 06:56] shailesh92 commented on #32
please help not working like his.refs.searchbar.blur()

[2020-03-19 17:05] WALReactNative commented on #173
I too have the same issue ONLY on iOS >= 13 simulators.

React native version : 0.59.10

[2020-03-26 11:53] maxgfr commented on #93
+1

[2020-03-29 04:00] MiLeung commented on #93
I am open to PRs - don't have time to develop my open source packages anymore =/

[2020-04-20 09:09] bathach95 commented on #170
I have the same issue

[2020-04-20 09:12] bathach95 commented on #136
this happened again on v 3.5.1

[2020-04-20 09:12] bathach95 commented on #97
this happened again on v 3.5.1

[2020-04-24 12:41] oxyii commented on #170
Same here. My workaround is one space char initially and remove it on SearchBar mounted.

[2020-05-13 11:51] omererbil opened #177 "textInput value not showing android"
textInput value not showing when typying in android
my app forced to use RTL,
typing in RTL works good
but in LTR not showing
only after fast-refresh LTR typing is showing

react-native 0.61
react-native-search-bar 3.5.1

[2020-07-24 09:39] hiphotels commented on #177
Hey. I'm having the same issue on Android. The text input is not visible.

Have you found a solution?

![Screenshot_1595583484](https://user-images.githubusercontent.com/61051424/88378957-e8f0b180-cd99-11ea-9228-6f385291c404.png)

[2020-07-24 09:44] hiphotels commented on #177
I had a look at the source code and you can pass the prop **textColor**. This works for me.

[code]

[2020-08-24 21:07] alpha0010 commented on #177
For future debugging purposes, my guess is something fails while retrieving the native `ColorStateList`.  (We need the `ColorStateList` for proper look/feel when the search bar is unfocused or not editable.)

https://github.com/umhan35/react-native-search-bar/blob/v3.5.1/android/src/main/java/org/umhan35/RNSearchBarManager.java#L154-L156
[code]

[2020-09-11 13:32] reinvanimschoot opened #184 "onSearchButtonPress only triggered after text is typed in"
Hi guys

This seems like a small issue but I still would love to bring some attention to it.

The `onSearchButtonPress` callback is only called when some text is actually typed in the searchbar.
For consistency's sake, I would love it if, even if the input is empty, the callback would still be called.

In my case, the callback is a keyboard dismissal. To give an example, in Instagram, if you press

[2020-09-13 12:01] reinvanimschoot commented on #170
Got the same issue, I also cant find a back button to dismiss the keyboard on android.

[2020-12-15 07:51] noumansakhawat-dev commented on #59
You can do it by adding ref. Check the following example.

[code]

[2021-01-10 12:53] FrankFundel commented on #127
+1

UPDATE: Using keyboardDismissMode="on-drag" works

[2021-12-27 17:30] mrsrhn commented on #177
@umhan35 would be really nice if you could merge the pull request

[2022-02-02 14:56] Ainias commented on #165
Is there any update on this?